[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-swagger = "*"
python-dotenv = "*"
gunicorn = "*"
cloudinary = "*"
flask-admin = "*"
typing-extensions = "*"
psycopg2-binary = "*"
gevent = "*"
flask-basicauth = "*"
flask-cors = "*"
boto3 = "*"
pyjwt = "<2.0.0"
flask-mail = "*"
markupsafe = "==2.0.1"
flask-migrate = "<4.0.0"

[requires]
python_version = "3.11"

[scripts]
start="flask run -p 5000 -h 0.0.0.0"
init="flask db init"
migrate="flask db migrate"
upgrade="flask db upgrade"
deploy="echo 'Please follow this 3 steps to deploy: https://github.com/4GeeksAcademy/flask-rest-hello/blob/master/README.md#deploy-your-website-to-heroku' "
popdb="python ./src/popdb.py"
